# optional
LOG_LEVEL=4 # 1 - Fatal Error, 2 - Error, 3 Warning, 4 - Info, 5 - Debug, 3 by default
# required
PORT=8080 # server port

# optional
MUSIC_INFO_URL= # url to get data of new song, example: https://google.com

# required (all), postgres
DB_USER=user 
DB_PASS=pass 
DB_NAME=name
DB_PORT=5353
DB_HOST=localhost